<body>
  <div class="container">
    <div class="title">Specialist Medical Clinic</div>
    <div class="text"><p><b>Medical Clinic</b> has general practitioners and occupational
    healthcare specialists available to both contracted customers and the general public in Malmö.
    Private doctor surgeries offer the same services as government funded GP practices however
    generally with shorter waiting times, better service with of course a higher price to the end user.
    This is because the national health system does not contribute to the cost of your visit.</p></div>
    <div class="center">
      <button mat-stroked-button color="accent">Book a visit!</button>
    </div>
  </div>
</body>
